[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
#scipy = "==1.1"
#tensorflow-gpu = "<2.0,>=1.0"
Pillow = "*"
torch = "*"
streamlit = "*"
pandas = "*"
#matplotlib = "*"
pudb = "*"
torchvision = "*"
sklearn = "*"
tqdm = "*"
scikit-optimize = "0.7.4"
scikit-learn = "==0.20"

[requires]
python_version = "3.7.5"
